.calendar {
  width: 100%;
  margin: 0 auto;
}

.calendar__inner {
  width: 100%;
  padding: 0 5.33vw;
}

.fc .fc-toolbar-title {
  font-size: 1.75rem;
}

.fc .fc-col-header-cell-cushion {
  font-size: 1rem;
}

.fc .fc-daygrid-day-number {
  font-size: 1rem;
}


@media screen and (min-width:769px) {
  .calendar {
    width: 100%;
    margin: 0 auto;
  }
  .calendar__inner {
    padding: 0 20px;
    margin: 0 auto;
    width: 62.5vw;
    max-width: 800px;
  }
}